a {
    text-decoration: none;
}

.book {
    width: 400px;
    height: 160px;
    border: 1px black solid;
    padding: 10px;
    margin-top: 10px;
}

.cover {
    float: left;
    width: 100px;
    height: 150px;
}

.title {
    font-size: 16px;
    font-family: Arial, serif;
}

.icon {
    width: 20px;
    height: 20px;
}